.ipaginate{
  display:inline;
  width:50px;
  position: relative;
}

.ipaginate input{
  width:50px;
  text-align: center;
}

.ipaginate #errmsg{
  color: red;
  font-weight: normal;
  position: absolute;
  top: 21px;
  right: 0;
  left: -16px;
  width: 100px;
}